<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="~/css/header.css" />
</head>
<body>
    <header class="header">
        <div class="line"></div>
        <div class="header-container">
            <div class="search-bar">
                <img src="/images/search.png" alt="Search Icon" class="search-icon">
                <input type="text" placeholder="What are you looking for?" />
            </div>

            <div class="logo">
                <img src="/images/logo (2).png" alt="Logo">
            </div>

            <div class="icons">
                <a href="/account.html" class="icon-btn">
                    <img src="/images/acc.png" alt="acc">
                </a>
                <a href="/wishlist.html" class="icon-btn">
                    <img src="/images/wl.png" alt="wishlist">
                </a>
                <a href="/cart.html" class="icon-btn">
                    <img src="/images/cart.png" alt="cart">
                </a>
            </div>
        </div>
        <div class="nav-container">
            <nav class="nav">
                <a href="/Men"><button class="nav-btn">MEN</button></a>
                <a href="/Women"><button class="nav-btn">WOMEN</button></a>
                <a href="/Unisex"><button class="nav-btn">UNISEX</button></a>
                <a href="/Collection"><button class="nav-btn">COLLECTION</button></a>
                <a href="/Brand"><button class="nav-btn">BRAND</button></a>
                <a href="/Scent"><button class="nav-btn">SCENT</button></a>
                <a href="/AboutUs"><button class="nav-btn">ABOUT US</button></a>
            </nav>
        </div>
        
    </header>
</body>
</html>
