@using TMDT.Models.ViewModel
@* @model LoginViewModel *@
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css">
<script src="~/js/site.js" defer></script>
<!-- Thêm Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<!-- Thêm Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<div class="cont-ent">
    <div class="banner">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="~/images/slide.png" alt="Slide 1"></div>
                <div class="swiper-slide"><img src="~/images/slide.png" alt="Slide 2"></div>
                <div class="swiper-slide"><img src="~/images/slide.png" alt="Slide 3"></div>
            </div>
            <!-- Nút điều hướng -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Chỉ mục -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="categories-highlight">
        <div class="category-highlight">
            <div class="circle">
                <img src="~/images/pr1.png" alt="Unisex Perfume">
            </div>
            <p>Nước Hoa Unisex</p>
        </div>
        <div class="category-highlight">
            <div class="circle">
                <img src="~/images/pr3.png" alt="Mini Perfume">
            </div>
            <p>Nước Hoa Thiên Nhiên</p>
        </div>
        <div class="category-highlight">
            <div class="circle">
                <img src="~/images/pr2.png" alt="Niche Perfume">
            </div>
            <p>Nước Hoa Nhỏ</p>
        </div>
        <div class="category-highlight">
            <div class="circle">
                <img src="~/images/pr3.png" alt="Designer Perfume">
            </div>
            <p>Nước hoa Niche</p>
        </div>
        <div class="category-highlight">
            <div class="circle">
                <img src="~/images/pr4.png" alt="Natural Perfume">
            </div>
            <p>Nước hoa thiết kế</p>
        </div>
    </div>

    <div class="content-1">
        <div class="highlight-section">
            <div class="highlight-title">
                <span>NỔI BẬT</span> <br>
                <h2 class="featured-products">SẢN PHẨM NỔI BẬT</h2>
            </div>
            <button class="see-all">See all</button>
        </div>

        <div class="product-highlight">
            <button class="product" onclick="handleClick('Chanel Coco Mademoiselle')">
                <img src="~/images/pr4.png" alt="Chanel Coco Mademoiselle">
                <div class="product-name">Nước hoa Chanel Coco Mademoiselle EDP Intense</div>
                <div class="product-price">1000$ US</div>
            </button>
            <button class="product" onclick="handleClick('Chanel Bleu De Chanel')">
                <img src="~/images/pr4.png" alt="Chanel Bleu De Chanel">
                <div class="product-name">Nước hoa Chanel Bleu De Chanel Parfum</div>
                <div class="product-price">1000$ US</div>
            </button>
            <button class="product" onclick="handleClick('Chanel Gabrielle Essence')">
                <img src="~/images/pr4.png" alt="Chanel Gabrielle Essence">
                <div class="product-name">Nước hoa Chanel Gabrielle Essence Eau de Parfum</div>
                <div class="product-price">1000$ US</div>
            </button>
            <button class="product" onclick="handleClick('Chanel No 5 L\'Eau')">
                <img src="~/images/pr4.png" alt="Chanel No 5 L'Eau">
                <div class="product-name">Nước hoa Chanel No 5 L'Eau Eau de Toilette</div>
                <div class="product-price">1000$ US</div>
            </button>
        </div>
    </div>

    <div class="rectangle">
        <img src="~/images/intro.png" class="image-97" alt="Intro">
    </div>

    <div class="content-3">
        <div class="image-wrapper">
            <img src="~/images/poster.png" alt="Mô tả hình ảnh">
        </div>
        <div class="text-wrapper">
            <span class="small-title">LOREM IPSUM</span>
            <h2 class="main-title">Lorem Ipsum is simply dummy text of the printing.</h2>
            <p class="text-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
            </p>
        </div>
    </div>


    <div class="content-2">
        <div class="highlight-section">
            <div class="highlight-title">
                <span>HIGHLIGHT</span> <br>
                <h2 class="featured-products">FEATURED PRODUCTS</h2>
            </div>
            <button class="see-all">See all</button>
        </div>

        <div class="section">
            <button class="product">
                <img src="~/images/pr4.png" alt="Chanel Coco Mademoiselle">
                <div class="product-title">Nước hoa Chanel Coco Mademoiselle EDP Intense</div>
                <div class="price">1000$ US</div>
            </button>
            <button class="product">
                <img src="~/images/pr4.png" alt="Chanel Bleu De Chanel">
                <div class="product-title">Nước hoa Chanel Bleu De Chanel Parfum</div>
                <div class="price">1000$ US</div>
            </button>
            <button class="product">
                <img src="~/images/pr4.png" alt="Chanel Gabrielle Essence">
                <div class="product-title">Nước hoa Chanel Gabrielle Essence Eau de Parfum</div>
                <div class="price">1000$ US</div>
            </button>
            <button class="product">
                <img src="~/images/pr4.png" alt="Chanel No 5 L'Eau">
                <div class="product-title">Nước hoa Chanel No 5 L'Eau Eau de Toilette</div>
                <div class="price">1000$ US</div>
            </button>
            <button class="product">
                <img src="~/images/pr4.png" alt="Chanel Allure">
                <div class="product-title">Nước hoa Chanel Allure Homme Sport</div>
                <div class="price">1000$ US</div>
            </button>
        </div>
        <div class="view-all">
            <button class="all-view">VIEW ALL</button>
        </div>
    </div>

    <div class="section-content-4">
        <div class="highlight-section">
            <div class="content-4">
                <span>HIGHLIGHT</span> <br>
                <h2 class="featured-products">FEATURED PRODUCTS</h2>
            </div>
            <button class="see-all-1">See all</button>
        </div>
        <div class="images-grid">
            <div class="small-images">
                <img src="~/images/pr4.png" alt="Image 1">
                <img src="~/images/pr4.png" alt="Image 2">
                <img src="~/images/pr4.png" alt="Image 3">
                <img src="~/images/pr4.png" alt="Image 4">
            </div>
            <div class="large-image">
                <img src="~/images/pr4.png" alt="Large Image">
            </div>
            <div class="small-images">
                <img src="~/images/pr4.png" alt="Image 5">
                <img src="~/images/pr4.png" alt="Image 6">
                <img src="~/images/pr4.png" alt="Image 7">
                <img src="~/images/pr4.png" alt="Image 8">
            </div>
        </div>
    </div>

    <div class="content-5">
        <h2 class="title">Testimonials</h2>
        <p class="subtitle">Our customers speak for us</p>

        <div class="testimonials">
            <button class="arrow left">◀</button>

            <div class="testimonial">
                <p class="text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy.
                </p>
                <div class="profile">
                    <img class="avatar" src="~/images/user.jpg" alt="Jane Doe">
                    <div class="info">
                        <p class="name"><strong>Jane Doe</strong></p>
                        <p class="company">SomeCompany LLC.</p>
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <p class="text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy.
                </p>
                <div class="profile">
                    <img class="avatar" src="~/images/user.jpg" alt="Jane Doe">
                    <div class="info">
                        <p class="name"><strong>Jane Doe</strong></p>
                        <p class="company">SomeCompany LLC.</p>
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <p class="text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy.
                </p>
                <div class="profile">
                    <img class="avatar" src="~/images/user.jpg" alt="Jane Doe">
                    <div class="info">
                        <p class="name"><strong>Jane Doe</strong></p>
                        <p class="company">SomeCompany LLC.</p>
                    </div>
                </div>
            </div>

            <button class="arrow right">▶</button>
        </div>
    </div>
</div>
